html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.container {
    display: flex;
}  

.menu-items-father {
    display: flex;
}

@media screen and (max-width: 375px){
    body {
        
        font-size: 20px;
    }
    .title{
        text-align: center;
        font-weight: bolder;
    }
    .container {
        flex-direction: column;
    }

    .aside-one{
        font-size: 15px;
    }

    .aside-two{
        font-size: 15px;
    }
    body h1 {
        font-size: 20px;
        text-align: center;
    }
    body h2 {
        font-size: 20px;
        text-align: center;
    }
    nav {
        display: none;
    }    
    .main-content {
        margin: 15px;
    }
    .footer-content {
        margin: 30px;
        font-size: 15px;
    }
    .footer-content h3 {
        text-align: center;
    }
} 

@media screen and (max-width: 1000px) and (min-width:376px){
    body {
        font-size: 30px;
    }
    .title {
        text-align: center;
        font-size: 45px;
        font-weight: bolder;
    }
    .container {
        flex-direction: column;

    }
    .menu-items-father {
        margin-top: 40px;
        justify-content: space-around;
        list-style: none;
        
    }

    .aside-one {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        
    }
    .aside-one li{
        list-style: none;
    }
    .aside-two {
        margin: 15px;
        font-size: 25px;
    }
    .aside-two li {
        list-style: none;
    }
    .aside-two h2 {
        margin-left: 40px;
    }
    .main-content {
        margin: 30px;

    }
    .main-content h1 {
        text-align: center;
    }
    .footer-content {
        margin: 20px;
    }
    .footer-content p {
        font-size: 20px;
    }
    nav {
        display: none;
    }
}